{{template "base.html" .}}
{{define "custom_style"}}
<style>
    .table thead tr th {
        text-align: center;
        vertical-align: middle;
    }
    .table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }
    .table tbody tr input {
        text-align: center;
        vertical-align: middle;
        border: none;
    }
    .table tbody tr th {
        text-align: center;
        vertical-align: middle;
    }
</style>
{{end}}

{{define "custom_js" }}
<script type="text/javascript">
    var token;
    var curPage;
    function init() {
        token = localStorage.getItem("token") || ""
        console.log(">>>>> token:", token)
        if (token != null && token != "") {
            //初始化对应模块数据
            initPatients();
            return
        }
        $('#login').modal('show');
    }
    function initPatients() {
        $.ajax({
            url: "/patients",
            type: "POST",
            headers: {
                "token": token
            },
            success: function (resp) {
                console.log("resp:", resp.patients);
                // 展示数据
                showPatients(resp.patients)
            },
            error: function (xhr) {
                console.log("patients:", xhr.responseJSON)
            }
        })
    }

    function doSearch(name) {
        $.ajax({
            url: "/patients",
            type: "POST",
            headers: {
                "token": token
            },
            data :{
                "Name":name,
            },
            success: function (resp) {
                console.log("resp:", resp.patients);
                // 展示数据
                showPatients(resp.patients)
            },
            error: function (xhr) {
                console.log("patients:", xhr.responseJSON)
            }
        })
    }
    function doFormAction(formId, ac) {

    }

    function showPatients(ps) {
        //先清除page_area下的所有元素
        $("#page_area").empty();
        searchElement=`<div class="row">
                <div class="navbar navbar-default">
                    <div class="navbar-collapse collapse navbar-inverse-collapse">
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control col-lg-8"  id="searchByName" placeholder="搜索"/>
                        </form>
                    </div>
                </div>
            </div>`;
        $("#page_area").append(searchElement);
        
        $("#searchByName").keydown(function(k){
            console.log(">>>key: ",k.keyCode, k.key);
            if(k.keyCode == 13){
                name = $("#searchByName").val();
                doSearch(name);
            }
            
        });

        // 拿到对应的元素信息
        $("#page_area").append(`<div class="justify-content-md-center"><form action="#"><table id="patients_table" class="table table-striped"><thead><tr><th scope="col">#</th><th scope="col">名字</th><th scope="col">年龄</th><th scope="col">性别</th><th scope="col">地址</th><th scope="col">电话</th><th scope="col">#</th></tr></thead></table></form></div>`);
        patientsTableDom = $("#patients_table").append(`<tbody></tbody>`);
        // console.log("###: ", $("#patients_table").children("tbody").html());
        tBody = $("#patients_table").children("tbody")
        console.log(">>>>>> token: ", token);
        $.each(ps,function(idx,value){
            console.log("aaaaa: ", value.Sex == 1)
            if (value.Sex == 1){
                sex = `男`;
            } else {
                sex = `女`;
            }
            // name = `<input name="name" disabled="true" value="`+value.Name+`" />`;
            // age = `<input name="age" disabled="true" value="`+value.Age+`" />`;
            
            // address = `<input name="address" disabled="true" value="`+value.Address+`" />`;
            // tel = `<input name="tel" disabled="true" value="`+value.Tel+`" />`;
            buttonStr = `<input type="button" id="modifyBtn" value="编辑" />`
            // data = `<tr><th scope="row">`+(idx+1)+`</th><form id="patient_`+value.Id+`" action="#"><td>`+name+`</td><td>`+age+`</td><td>`+sex+`</td><td>`+address+`</td><td>`+tel+`</td><td>`+buttonStr+`</td></form></tr>`;
            data = `<tr><td id="`+value.Id+`">`+(idx+1)+`</td><td><a href="/patientsdetails?token=`+token+`&patientInfoId=`+value.Id+`" onclick="showPatientsDetail()">`+value.Name+`</a></td><td>`+value.Age+`</td><td>`+value.Sex+`</td><td>`+value.Address+`</td><td>`+value.Tel+`</td><td>`+buttonStr+`</td></tr>`;
            tBody.append(data);
        })
         $(document).on('click','#modifyBtn',function(){
            parentTr = $(this).parents("tr");
            console.log("####td; ", parentTr.find("td").eq(0).attr("id"));
            console.log("####td; ", parentTr.find("td").eq(1).text());
            console.log("####td; ", parentTr.find("td").eq(2).text());
            console.log("####td; ", parentTr.find("td").eq(3).text());
            console.log("####td; ", parentTr.find("td").eq(4).text());
            console.log("####td; ", parentTr.find("td").eq(5).text());
            // parentTr.find("td").each(function(idx,v){
            //     console.log("find td: ",idx, v.)
            // });
            $('#edit').modal('show');
            // showEditModal();
            $('#db_idx').val(parentTr.find("td").eq(0).text());
            $('#patient_name').val(parentTr.find("td").eq(1).text());
            $('#age').val(parentTr.find("td").eq(2).text());
            $('#sex').val(parentTr.find("td").eq(3).text());
            $('#address').val(parentTr.find("td").eq(4).text());
            $('#tel').val(parentTr.find("td").eq(5).text());
        });

        $(document).on('click','#showPatientsDetail',function(){
            parentTr = $(this).parents("tr");
            // console.log("getpatientsdetails####td; ", parentTr.find("td").eq(0).attr("id"));
            // console.log("####td; ", parentTr.find("td").eq(1).text());
            // console.log("####td; ", parentTr.find("td").eq(2).text());
            // console.log("####td; ", parentTr.find("td").eq(3).text());
            // console.log("####td; ", parentTr.find("td").eq(4).text());
            // console.log("####td; ", parentTr.find("td").eq(5).text());
            $.ajax({
            url:"/getpatientsdetails",
            method:"POST",
            headers:{
                "token":token,
            },
            data:{
                "patientInfoId":parentTr.find("td").eq(0).attr("id"),
                "name":$('#patient_name').val(),
                "tel":$('#tel').val(),
            },
            success:function(resp){
                console.log("getpatientsdetails resp: ",resp);
                // 按理说应该返回的是问诊人对应的药方列表
                initPatientsDetails(parentTr.find("td").eq(1).text(),resp.prescriptions);
            },
            error:function(xhr){
                console.log("handle update patients falied,", xhr.error());
            },
        })
        });
    }
    function initPatientsDetails(pname, prescriptions) {
        //先清除page_area下的所有元素
        $("#page_area").empty();
        console.log(">>>>>prescriptions: ", prescriptions.length);
        let data = `<!-- Tables -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>病历列表</h1>
                    <button onclick="addPres()" style="display:inline;">添加</button>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>日期</th>
                            <th>病情描述</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>`;
        if(prescriptions.length <= 0){
            $("#page_area").append(`<div>未找到处方</div>`);
            return
        }
        $("#page_area").append(data);
        // 根据问诊人名字更新title内容
        $("#page_area").find("h1").eq(0).text(pname+" 处方列表");
        $.each(prescriptions,function(idx,value){
            $("#page_area").find("tbody").eq(0).append(`<tr><td prescition_id="`+value.Id+`">`+(idx+1)+`</td><td>2023/12/23</td><td width="60%"><p>`+value.ConditionDescription+`</p></td><td><button onclick="editDetail()">编辑</button><button id="deleteDetail">删除</button></td></tr>`);
        })
        
        // console.log("tbody: ",$("#page_area").find("tbody").eq(0).text());
        $(document).on("click","#deleteDetail", function(){
            console.log("prescition_id: ",$(this).parents("tr").find("td").eq(0).attr("prescition_id"));
            $.ajax({
            url:"/delPresciption",
            method:"POST",
            headers:{
                "token":token,
            },
            data:{
                "id":$(this).parents("tr").find("td").eq(0).attr("prescition_id"),
            },
            success:function(resp){
                // initPatients()
                console.log("del success resp:", resp);
                initPatientsDetails("",nil);
            },
            error:function(xhr){
                console.log("handle update patients falied,", xhr.error());
            },
        })  
        });
    }

    function doSavePatientInfo() {
        console.log("#####db_idx: ",$('#db_idx'));
        $.ajax({
            url:"/updatepatients",
            method:"POST",
            headers:{
                "token":token,
            },
            data:{
                "id":$('#db_idx').val(),
                "name":$('#patient_name').val(),
                "age":$('#age').val(),
                "sex":$('#sex').val(),
                "address":$('#address').val(),
                "tel":$('#tel').val(),
            },
            success:function(resp){
                // console.log("");
                $('#edit').modal('hide');
                initPatients()
            },
            error:function(xhr){
                $('#edit').modal('hide');
                console.log("handle update patients falied,", xhr.error());
            },
        })   
    }
    function showPatientsDetail() {

    }
    function showZhongyao() {
        $("#page_area").empty();
    }
    function doLogin() {
        console.log("username: ", $("#username").val());
        $.ajax({
            url: "/login",
            type: "POST",
            data: {
                "username": $("#username").val(),
                "passwd": "haha"
            },
            success: function (resp) {
                console.log("resp:", resp);
                if (resp.token) {
                    localStorage.setItem("token", resp.token);
                    token = resp.token;
                    $(function () { $('#login').modal('hide') });
                    //初始化对应模块数据
                    initPatients();
                }

            },
            error: function (xhr) {
                console.log("do login failed:", xhr)
                // $(function () { $('#login').modal('show') });
            }
        })
    }
    function doLogout() {
        $.ajax({
            url: "/logout",
            type: "POST",
            headers: {
                "token": token,
            },
            data: {
                "username": "nihao",
                "passwd": "haha"
            },
            success: function (resp) {
                console.log("resp:", resp);
                localStorage.removeItem("token")
                window.location.reload();
            },
            error: function (xhr) {
                console.log("doLogout failed", xhr.responseJSON)
            }
        })
    }
</script>
{{end}}