<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理系统</title>

    <link rel="stylesheet" type="text/css" href="/statics/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/statics/fonts/font-awesome/css/font-awesome.min.css" />

    <!-- <link id="themecss" rel="stylesheet" type="text/css"
        href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" /> -->

    <link rel="stylesheet" type="text/css" href="/statics/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/statics/css/dashboard.css" />
    <style>
        .table thead tr th {
            text-align: center;
            vertical-align: middle;
        }
        .table tbody tr td {
            text-align: center;
            vertical-align: middle;
        }
        .table tbody tr input {
            text-align: center;
            vertical-align: middle;
            border: none;
        }
        .table tbody tr th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body onload="init()">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" title="PB Dashboard">管理系统</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <!-- <li class="active"><a href="index.html"><i class="glyphicon glyphicon-th"></i> 主界面</a></li> -->


                    <!-- <li class="nav nav-list nav-list-expandable nav-list-expanded">
                        <a><i class="fa fa-user"></i> 更多 <span class="caret"></span></a>
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-table"></i> 病&nbsp&nbsp&nbsp&nbsp历</a></li>
                            <li><a href="#"><i class="fa fa-edit"></i> 中药库存</a></li>
                        </ul>
                    </li> -->
                    <li class="active"><a href="#" onclick="initPatients()"><i class="fa fa-table"></i> 病&nbsp&nbsp&nbsp&nbsp历</a></li>
                    <li><a href="#" onclick="showZhongyao()"><i class="fa fa-edit"></i> 中药库存</a></li>

                    <!-- <li><a href="bootstrap.html"><i class="fa fa-magic"></i> Bootstrap Elements</a></li>
                    <li class="nav nav-list nav-list-expandable">
                        <a><i class="fa fa-key"></i> Collapsed Menu Item <span class="caret"></span></a>
                        <ul class="nav navbar-nav">
                            <li><a href="#">Sub Item 1</a></li>
                            <li><a href="#">Sub Item 2</a></li>
                        </ul>
                    <li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <!-- <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="label label-danger">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 用户名<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="#"><i class="fa fa-user"></i> </a></li> -->
                            <li><a href="#"><i class="fa fa-gear"></i> 设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="doLogout()"><i class="fa fa-power-off"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 展示区域 -->
        <div id="page-wrapper">
            <div id="page_area" class="row">
            </div>
            <!-- /.row 展示区域 -->
        </div>
        <!-- /#page-wrapper-->
    </div>
    <!-- /#wrapper -->

    <!-- 登录窗口 -->
    <div id="login" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <div class="form-group">
                            <label for="">用户名</label>
                            <input id="username" name="username" class="form-control" type="text" placeholder=""
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input id="passwd" name="passwd" class="form-control" type="password" placeholder="">
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" type="button" onclick="doLogin()">登录</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <!-- <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑界面 -->
    <div id="edit" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">编辑</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <input id="db_idx" name="db_idx" type="text" placeholder=""
                                autocomplete="off" style="display:none;">
                        <div class="form-group">
                            <label for="">名称</label>
                            <input id="patient_name" name="patient_name" class="form-control" type="text" placeholder=""
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="">年龄</label>
                            <input id="age" name="age" class="form-control" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">性别</label>
                            <input id="sex" name="sex" class="form-control" type="text" placeholder=""
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="">电话</label>
                            <input id="tel" name="tel" class="form-control" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">地址</label>
                            <input id="address" name="address" class="form-control" type="text" placeholder=""
                                autocomplete="off">
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" type="button" onclick="doSavePatientInfo()">保存</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--编辑界面-->

    <script type="text/javascript" src="/statics/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/statics/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript"
        src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <script type="text/javascript" src="/statics/js/theme.js"></script>
    <script type="text/javascript">
        var token;
        var curPage;
        function init() {
            token = localStorage.getItem("token") || ""
            console.log(">>>>> token:", token)
            if (token != null && token != "") {
                //初始化对应模块数据
                initPatients();
                return
            }
            $('#login').modal('show');
        }
        function initPatients() {
            $.ajax({
                url: "/patients",
                type: "POST",
                headers: {
                    "token": token
                },
                success: function (resp) {
                    console.log("resp:", resp.patients);
                    // 展示数据
                    showPatients(resp.patients)
                },
                error: function (xhr) {
                    console.log("patients:", xhr.responseJSON)
                }
            })
        }

        function doSearch(name) {
            $.ajax({
                url: "/patients",
                type: "POST",
                headers: {
                    "token": token
                },
                data :{
                    "Name":name,
                },
                success: function (resp) {
                    console.log("resp:", resp.patients);
                    // 展示数据
                    showPatients(resp.patients)
                },
                error: function (xhr) {
                    console.log("patients:", xhr.responseJSON)
                }
            })
        }
        function doFormAction(formId, ac) {

        }

        function showPatients(ps) {
            //先清除page_area下的所有元素
            $("#page_area").empty();
            searchElement=`<div class="row">
                    <div class="navbar navbar-default">
                        <div class="navbar-collapse collapse navbar-inverse-collapse">
                            <form class="navbar-form navbar-left">
                                <input type="text" class="form-control col-lg-8"  id="searchByName" placeholder="搜索"/>
                            </form>
                        </div>
                    </div>
                </div>`;
            $("#page_area").append(searchElement);
            
            $("#searchByName").keydown(function(k){
                console.log(">>>key: ",k.keyCode, k.key);
                if(k.keyCode == 13){
                    name = $("#searchByName").val();
                    doSearch(name);
                }
                
            });

            // 拿到对应的元素信息
            $("#page_area").append(`<div class="justify-content-md-center"><form action="#"><table id="patients_table" class="table table-striped"><thead><tr><th scope="col">#</th><th scope="col">名字</th><th scope="col">年龄</th><th scope="col">性别</th><th scope="col">地址</th><th scope="col">电话</th><th scope="col">#</th></tr></thead></table></form></div>`);
            patientsTableDom = $("#patients_table").append(`<tbody></tbody>`);
            // console.log("###: ", $("#patients_table").children("tbody").html());
            tBody = $("#patients_table").children("tbody")
            
            $.each(ps,function(idx,value){
                console.log("aaaaa: ", value.Sex == 1)
                if (value.Sex == 1){
                    sex = `男`;
                } else {
                    sex = `女`;
                }
                // name = `<input name="name" disabled="true" value="`+value.Name+`" />`;
                // age = `<input name="age" disabled="true" value="`+value.Age+`" />`;
                
                // address = `<input name="address" disabled="true" value="`+value.Address+`" />`;
                // tel = `<input name="tel" disabled="true" value="`+value.Tel+`" />`;
                buttonStr = `<input type="button" id="modifyBtn" value="编辑" />`
                // data = `<tr><th scope="row">`+(idx+1)+`</th><form id="patient_`+value.Id+`" action="#"><td>`+name+`</td><td>`+age+`</td><td>`+sex+`</td><td>`+address+`</td><td>`+tel+`</td><td>`+buttonStr+`</td></form></tr>`;
                data = `<tr><td id="`+value.Id+`">`+(idx+1)+`</td><td><a id="showPatientsDetail" href="#" onclick="showPatientsDetail()">`+value.Name+`</a></td><td>`+value.Age+`</td><td>`+value.Sex+`</td><td>`+value.Address+`</td><td>`+value.Tel+`</td><td>`+buttonStr+`</td></tr>`;
                tBody.append(data);
            })
             $(document).on('click','#modifyBtn',function(){
                parentTr = $(this).parents("tr");
                console.log("####td; ", parentTr.find("td").eq(0).attr("id"));
                console.log("####td; ", parentTr.find("td").eq(1).text());
                console.log("####td; ", parentTr.find("td").eq(2).text());
                console.log("####td; ", parentTr.find("td").eq(3).text());
                console.log("####td; ", parentTr.find("td").eq(4).text());
                console.log("####td; ", parentTr.find("td").eq(5).text());
                // parentTr.find("td").each(function(idx,v){
                //     console.log("find td: ",idx, v.)
                // });
                $('#edit').modal('show');
                // showEditModal();
                $('#db_idx').val(parentTr.find("td").eq(0).text());
                $('#patient_name').val(parentTr.find("td").eq(1).text());
                $('#age').val(parentTr.find("td").eq(2).text());
                $('#sex').val(parentTr.find("td").eq(3).text());
                $('#address').val(parentTr.find("td").eq(4).text());
                $('#tel').val(parentTr.find("td").eq(5).text());
            });

            $(document).on('click','#showPatientsDetail',function(){
                parentTr = $(this).parents("tr");
                // console.log("getpatientsdetails####td; ", parentTr.find("td").eq(0).attr("id"));
                // console.log("####td; ", parentTr.find("td").eq(1).text());
                // console.log("####td; ", parentTr.find("td").eq(2).text());
                // console.log("####td; ", parentTr.find("td").eq(3).text());
                // console.log("####td; ", parentTr.find("td").eq(4).text());
                // console.log("####td; ", parentTr.find("td").eq(5).text());
                $.ajax({
                url:"/getpatientsdetails",
                method:"POST",
                headers:{
                    "token":token,
                },
                data:{
                    "patientInfoId":parentTr.find("td").eq(0).attr("id"),
                    "name":$('#patient_name').val(),
                    "tel":$('#tel').val(),
                },
                success:function(resp){
                    console.log("getpatientsdetails resp: ",resp);
                    // 按理说应该返回的是问诊人对应的药方列表
                    initPatientsDetails(parentTr.find("td").eq(1).text(),resp.prescriptions);
                },
                error:function(xhr){
                    console.log("handle update patients falied,", xhr.error());
                },
            })
            });
        }
        function initPatientsDetails(pname, prescriptions) {
            //先清除page_area下的所有元素
            $("#page_area").empty();
            console.log(">>>>>prescriptions: ", prescriptions.length);
            let data = `<!-- Tables -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>病历列表</h1>
                        <button onclick="addPres()" style="display:inline;">添加</button>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>日期</th>
                                <th>病情描述</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>`;
            if(prescriptions.length <= 0){
                $("#page_area").append(`<div>未找到处方</div>`);
                return
            }
            $("#page_area").append(data);
            // 根据问诊人名字更新title内容
            $("#page_area").find("h1").eq(0).text(pname+" 处方列表");
            $.each(prescriptions,function(idx,value){
                $("#page_area").find("tbody").eq(0).append(`<tr><td prescition_id="`+value.Id+`">`+(idx+1)+`</td><td>2023/12/23</td><td width="60%"><p>`+value.ConditionDescription+`</p></td><td><button onclick="editDetail()">编辑</button><button id="deleteDetail">删除</button></td></tr>`);
            })
            
            // console.log("tbody: ",$("#page_area").find("tbody").eq(0).text());
            $(document).on("click","#deleteDetail", function(){
                console.log("prescition_id: ",$(this).parents("tr").find("td").eq(0).attr("prescition_id"));
                $.ajax({
                url:"/delPresciption",
                method:"POST",
                headers:{
                    "token":token,
                },
                data:{
                    "id":$(this).parents("tr").find("td").eq(0).attr("prescition_id"),
                },
                success:function(resp){
                    // initPatients()
                    console.log("del success resp:", resp);
                    initPatientsDetails("",nil);
                },
                error:function(xhr){
                    console.log("handle update patients falied,", xhr.error());
                },
            })  
            });
        }

        function doSavePatientInfo() {
            console.log("#####db_idx: ",$('#db_idx'));
            $.ajax({
                url:"/updatepatients",
                method:"POST",
                headers:{
                    "token":token,
                },
                data:{
                    "id":$('#db_idx').val(),
                    "name":$('#patient_name').val(),
                    "age":$('#age').val(),
                    "sex":$('#sex').val(),
                    "address":$('#address').val(),
                    "tel":$('#tel').val(),
                },
                success:function(resp){
                    // console.log("");
                    $('#edit').modal('hide');
                    initPatients()
                },
                error:function(xhr){
                    $('#edit').modal('hide');
                    console.log("handle update patients falied,", xhr.error());
                },
            })   
        }
        function showPatientsDetail() {

        }
        function showZhongyao() {
            $("#page_area").empty();
        }
        function doLogin() {
            console.log("username: ", $("#username").val());
            $.ajax({
                url: "/login",
                type: "POST",
                data: {
                    "username": $("#username").val(),
                    "passwd": "haha"
                },
                success: function (resp) {
                    console.log("resp:", resp);
                    if (resp.token) {
                        localStorage.setItem("token", resp.token);
                        token = resp.token;
                        $(function () { $('#login').modal('hide') });
                        //初始化对应模块数据
                        initPatients();
                    }

                },
                error: function (xhr) {
                    console.log("do login failed:", xhr)
                    // $(function () { $('#login').modal('show') });
                }
            })
        }
        function doLogout() {
            $.ajax({
                url: "/logout",
                type: "POST",
                headers: {
                    "token": token,
                },
                data: {
                    "username": "nihao",
                    "passwd": "haha"
                },
                success: function (resp) {
                    console.log("resp:", resp);
                    localStorage.removeItem("token")
                    window.location.reload();
                },
                error: function (xhr) {
                    console.log("doLogout failed", xhr.responseJSON)
                }
            })
        }
    </script>
</body>
<!--https://www.prepbootstrap.com/bootstrap-theme/pb-dashboard/preview-->
</html>